---
- name: Install System Packages
  sudo: yes
  yum: pkg={{ item }} state=latest
  with_items: server.packages
  when: server.packages is defined

- name: upgrade all packages
  yum: name=* state=latest

- name: Configure the timezone
  sudo: yes
  template: src=timezone.tpl dest=/etc/timezone

- name: More Configure the timezone
  sudo: yes
  file: src=/usr/share/zoneinfo/{{server.timezone}} dest=/etc/localtime state=link force=yes backup=yes


- name: Configure firewall 443
  sudo: yes
  command: /sbin/iptables -A INPUT -m state --state NEW -p tcp --dport 443 -j ACCEPT

- name: Configure firewall 80
  sudo: yes
  command: /sbin/iptables -A INPUT -m state --state NEW -p tcp --dport 80 -j ACCEPT
