{% extends "base.twig" %}
{% block content %}

   <div class="row">
      <div class="columns col-lg-12 col-sm-12 col-md-12 large-centered small-centered medium-centered"><img src="imgs/phpminds-404.svg" alt="404 Not Found " /></div>

   </div>

{% endblock content %}