<html>
    <head>
        <meta charset="utf-8"/>
          <!-- Set the viewport width to device width for mobile -->
  		<meta name="viewport" content="width=device-width" />
        <title>PHPMiNDS</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <link href='{{ base_url() }}/css/style.css' rel='stylesheet' type='text/css'>
    </head>
    <body>
	<header class="small-12 large-12 columns">
	
	<h1 class="left">PHPMiNDS</h1>
		<nav>

		    
		    
		      
		</nav>
	</header>
     <section>

		 {% block content %}{% endblock %}
	</section>
    </body>
  </html>