<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <!-- Set the viewport width to device width for mobile -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PHPMiNDS</title>
    <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    <link href='{{ base_url() }}/css/style.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link href='//api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css' rel='stylesheet' />

  </head>
  <body class="has-top-bar">
    <header class="top-bar-container fixed">
      
      <nav class="top-bar" role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><a href="#">phpminds</a></h1>
          </li>
          <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right menu-top-menu">
            <li><a href="#">location</a></li>
            <li><a href="#">past events</a></li>
            <li><a href="#">Speak</a></li>
            <li><a href="#">Supporters</a></li>
          </ul>
        </section>
      </nav>
    
    </header>
    <section>
      {% block content %}{% endblock %}
    </section>
    
  <script src="js/jquery.min.js"></script>
  <script src="js/foundation.min.js"></script>
  <script src="js/foundation.topbar.js"></script>
  <script type="text/javascript" src="//api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js"></script>
      <script src="js/app.js"></script>
  <script>mapbox_map.init(51.1989999999999980673237587325274944305419921875,-1.47900000000000009237055564881302416324615478515625);</script>

  
  </body>
</html>