<html>
    <head>
        <meta charset="utf-8"/>
        <title>PHPMiNDS</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <link href='{{ base_url() }}/css/style.css' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <h1>PHPMiNDS</h1>
        <p>Next meetup on {{ event.date_time }}</p>
        <div class="event">
            <p>{{ event.subject }}</p>
            <p><a href="{{ event.event_url }}">RSVP</a></p>
        </div>
    </body>
</html>
        
