{% extends "base.twig" %}
{% block content %}

		<div class="large-12 columns banner">
			<img class="phpminds-logo" src="imgs/phpminds-banner.svg" alt="phpminds - php usergroup" />
			<h2> [ a witty strapline goes here ]</h2>
		</div>
        
        <div class="row">
<div class="large-10 columns h-event">
<h3 class="p-name"><i class="fa fa-calendar"></i> {{ event.subject }}</h3>
<h4> on {{ event.date_time }}</h4>

        <div class="p-summary">
            <p>{{ event.description | raw }}</p>
  		    <p class="right"><a class="button alert" href="{{ event.event_url }}">RSVP</a></p>
        </div>
</div>
</div>

<div id="map"></div>
<div class="sub-banner">
					
</div>
	
        
        
{% endblock %}
    
        
