{% extends "base.twig" %}
{% block content %}


        
        <p>Next meetup on {{ event.date_time }}</p>
        <div class="event">
            <p>{{ event.subject }}</p>
            <p>{{ event.description | raw }}</p>
            <p><a class="button success" href="{{ event.event_url }}">RSVP</a></p>
        </div>
        
{% endblock %}
    
        
