{% extends "base.twig" %}
{% block content %}

    <div class="row">
        <div class="columns col-lg-12 col-sm-12 col-md-12 large-centered small-centered medium-centered">
            <p>Sorry unable to retrieve the event info at the moment.</p>
        </div>

    </div>

{% endblock content %}
