{% extends "base.twig" %}
{% block content %}

    <div class="row">
        <div class="columns col-lg-12 col-sm-12 col-md-12 large-centered small-centered medium-centered center-block">
            <img src="https://media.giphy.com/media/EVbEdEW3kuu0o/giphy.gif" alt="Oops... " />
        </div>

    </div>

{% endblock content %}